
header{
font-size:35px;
text-align:center;
color:blue;
text-shadow:5px 3px grey;
border-radius:30px;
border:4px solid violet;
/*background:linear-gradient(to bottom left,#f83600,#f9d423);*/
}
section{
height:400px;
}
/*Table style*/
table{

font-family:Arial,Helvetica,sans-serif;
border-collapse:collapse;
width:100%;
}
table td,table th{
border:1px solid #ddd;
padding:8px;
}
table tr:nth-child(even){background-color:#f2f2f2;}
table tr:nth-child(odd){background-color:white;}
table tr:hover{background-color:#ddd;}
table th{
padding-top:12px;
padding-bottom:12px;
text-align:left;
background-color:#4CAF50;
color:white;
}

body{
background:#eaafc8;
background:-webkit-linear-gradient(to right,#eaafc8,#654ea3);
background:linear-gradient(to right,#eaafc8,#654ea3);
min-height:100vh;
}
footer{
background-color:#777;
padding:10px;
text-align:center;
color:white;
}
/*menu style*/
		nav{
			background:#2e2c2c;
			
font-weight:700;
margin-bottom:10px;
margin-top:7px;
border-radius:18px;
			flex:1;
			display: flex;
			align-items: right;
			text-align: right;

			list-style-type: none;
		}
		nav ul{
			text-align: right;
		}
		nav ul li{
			display: inline-block;
			margin-right: 20px}
		nav a{text-decoration: none;
			color: red}
		#selected{border-radius:4px;background:blue;}

a{text-decoration:none;}

